body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    background: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a {
    display: block;
    text-decoration: none;
    margin: 20px;
}
.a1 {
    position: relative;
    background: linear-gradient(to right, #03a9f4, 
    #f441a5, #ff3b3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}
.a1:hover {
    animation: a 8s linear infinite;
}
.a1:before {
    content: "";
    background: linear-gradient(to right, #03a9f4, 
    #f441a5, #ff3b3b, #03a9f4);
    background-size: 400%;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
.a1:hover:before {
    opacity: 1;
    filter: blur(20px);
    animation: a 8s linear infinite;
}
@keyframes a {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.a2 {
    position: relative;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.a2:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #03a9f4, 
    #f441a5, #ff3b3b, #03a9f4);
    background-size: 400%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0%;
    transition: all 0.6s ease;
    z-index: -1;
    border-radius: 30px;
}
.a2:after {
    content: "";
    background: linear-gradient(to right, #03a9f4, 
    #f441a5, #ff3b3b, #03a9f4);
    background-size: 400%;
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
.a2:hover {
    border: 1px solid transparent;
}
.a2:hover:before {
    height: 100%;
    animation: a 8s linear infinite;
}
.a2:hover:after {
    opacity: 1;
    filter: blur(20px);
    animation: a 8s linear infinite;
}
.a3 {
    position: relative;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.a3:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #03a9f4, 
    #f441a5, #ff3b3b, #03a9f4);
    background-size: 400%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    transition: all 0.6s ease;
    z-index: -1;
    border-radius: 30px;
}
.a3:after {
    content: "";
    background: linear-gradient(to right, #03a9f4, 
    #f441a5, #ff3b3b, #03a9f4);
    background-size: 400%;
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
.a3:hover {
    border: 1px solid transparent;
}
.a3:hover:before {
    width: 100%;
    animation: a 8s linear infinite;
}
.a3:hover:after {
    opacity: 1;
    filter: blur(20px);
    animation: a 8s linear infinite;
}
.a4 {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.a4:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #03a9f4, 
    #f441a5, #ff3b3b, #03a9f4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100%;
    height: 0%;
    transition: all 0.6s ease;
    z-index: -1;
    border-radius: 30px;
}
.a4:after {
    content: "";
    background: linear-gradient(to right, #03a9f4, 
    #f441a5, #ff3b3b, #03a9f4);
    background-size: 400%;
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
.a4:hover {
    border: 1px solid transparent;
}
.a4:hover:before {
    height: 300%;
    animation: a 8s linear infinite;
}
.a4:hover:after {
    opacity: 1;
    filter: blur(20px);
    animation: a 8s linear infinite;
}

